In [ ]:
# Import dependencies
import pandas as pd

# File to load
student_data_to_load = "Resources/students_complete.csv"

# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()
student_names

In [ ]:
# Split the student name and determine the length of the split name.
for name in student_names:
    print(name.split(), len(name.split()))

In [ ]:
# Create a new list and use it for the for to iterate through the list.
students_to_fix = []

# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
# Get the length of the students whose names ate greater than or equal to "3"
len(students_to_fix)

In [ ]:
print(students_to_fix)

In [ ]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
        
print(prefixes)

In [ ]:
# Add the suffixes less than or equal to a new list.
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
print(suffixes)

In [ ]:
# Get the unique items in the "prefixes" list.
set(prefixes)

In [ ]:
# Get the unique items in the "suffixes" list.
set(suffixes)

In [ ]:
# Strip "Mrs." from the student names
for name in students_to_fix:
    print(name.strip("Mrs."))

In [ ]:
# Replace "Dr." with an empty string.
name = "Dr. Linda Santigo"
name.replace("Dr. ", "")

In [101]:
# Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

student_data_df["student_name"].replace()

#Iterate through the "prefixes_suffixes" list and replace them with empty space, "" when it appears in the students' name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df

C:\Users\kirid\AppData\Local\Temp\ipykernel_25484\3642980795.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [104]:
# Put the clean students' name in another list.

student_names = student_data_df["student_name"].tolist()

# Create a new list and use it for the for loop to iterate through the list.

students_fixed = []

# Use an if statement to check the length of the name.
# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
# Get the length of the students' names that are greater than or equal t o3.
len(students_fixed)

151